@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .card {
      background-color: theme('colors.gray');
      border-radius: theme('borderRadius.lg');
      box-shadow: theme('boxShadow.xl');
    }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2 ease;
}
.reveal.active{
  opacity: 1;
  transform: translateY(0px);
}